* {
    font-family: sans-serif;
    text-align: center;
}

.form-label {
    font-size: 18px;
}

.btn-light:hover {
    transition: ease;
    transition-duration: 2s;
    scale: 125%;
    background-color: blue;
    border-color: blue;
    color: white;
}

.card {
    border-radius: 1rem;
}

.card-img-top {
    border-radius: 1rem 1rem 0rem 0rem;
}

.postCard {
    max-width: 16rem;
}

.noPost {
    background-color: rgba(105, 128, 255, 0.514);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    color: white;
}

.cursor-pointer {
    cursor: pointer;
}

.heartIcon:hover {
    transition: ease;
    transition-duration: 1s;
    scale: 150%;
}

.trashIcon {
    opacity: 50%;
}
.trashIcon:hover {
    opacity: 100%;
    transition: ease;
    transition-duration: 3s;
    scale: 115%;
}
